@tailwind base;
@tailwind components;
@tailwind utilities;

.noscrollbar::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

/* disable drag for img, link */
img,
a {
  -webkit-user-drag: none;
}
